<h1 class="center-align"><a href="#" data-wh-icon-size="large" data-wowhead="item=<%= itemHistoricalData[0].itemId %>"></a></h1>

<% if (currentUser) { %>
<form action="" method="POST">
    <input type="hidden" name="realmId" value="<%= realmInfo.id %>">
    <input type="hidden" name="connectedRealmId" value="<%= itemHistoricalData[0].connectedRealmId %>">
    <input type="submit" value="Add To Favorites">
</form>
<% } %>

<canvas id="myChart" width="400" height="400"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script>
    var pricingDates = <%- pricingDates %>
    var pricingData = <%- pricingData %>
    var ctx = document.getElementById("myChart").getContext("2d");

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: pricingDates,
            datasets: [{
                label: 'Demo',
                data: pricingData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time'
                }]
            }
        }
    });
</script>