<h1 class="center-align"><a href="#" data-wh-icon-size="large" data-wowhead="item=<%= itemHistoricalData[0].itemId %>"></a></h1>

<% if (currentUser) { %>
<form action="" method="POST">
    <input type="hidden" name="realmId" value="<%= realmInfo.id %>">
    <input type="hidden" name="connectedRealmId" value="<%= itemHistoricalData[0].connectedRealmId %>">
    <input type="submit" value="Add To Favorites">
</form>
<% } %>


<canvas id="myChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var chartPricingDates = [<%- pricingDates %>]
        var chartPricingData = [<%- pricingData %>]
        var ctx = document.getElementById("myChart").getContext("2d");

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: chartPricingDates,
                datasets: [{
                    label: 'Market Price',
                    data: chartPricingData,
                    backgroundColor: 'rgb(25,70,245)',
                    borderColor: 'rgb(97,129,243)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Market Price'
                        }
                    }]
                }
            }
        });
    })
</script>