<h1 class="center-align">Monitored Items</h1>

<div class="collection grey darken-3">
    <% monitoredItems[0].forEach(monitoredItem => { %>
        <div class="collection-item grey darken-3">
            <a href="/realms/<%= monitoredItem.realmSlug %>/<%= monitoredItem.itemId%>" class="collection-item" data-wowhead="item=<%= monitoredItem.itemId %>"></a> Realm - <%= monitoredItem.realmName %>
            <br>
            Last Hour Info
            <br>
            <span>Average Unit Price: <%= Math.round(monitoredItem.unitPrice) %></span>
            <span>Average Quantity: <%= Math.round(monitoredItem.quantity) %></span>
            <br>
            <a href="/monitoring/edit/<%= monitoredItem.id %>"><i class="material-icons">edit</i></a>
            <a href="javascript:{}" onclick="document.getElementById('<%= monitoredItem.id %>').submit();"><i class="material-icons">delete_forever</i></a>
        </div>
    <% }) %>
</div>

<% monitoredItems[0].forEach(monitoredItem => { %>
        <form method="POST" action="/monitoring?_method=DELETE" id="<%= monitoredItem.id %>" style="display: none">
                <input type="hidden" name="id" value="<%= monitoredItem.id %>">
        </form>
<% }) %>